{% extends 'core/base.html' %}

{% block title%}
Portada
{% endblock %}

{% block background %} {% load static%} {% static 'core/img/home-bg.jpg' %} {% endblock %}

{% block header%}
<h1>Nicolas Sobarzo</h1>
<span class="subheading">Ingeniero Civil Informatico</span>
{% endblock %}

{% block content %}
<h2>Portada</h2>
{% endblock %}